.inputContainer {
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  background: var(--White);
  padding: 14px 16px;
  width: 300px;
  height: 48px;

  input {
    border: none;
    font-size: 16px;
    outline: none;

    &:placeholder {
      color: var(--Gray20);
    }
  }
}
