.searchContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 33px;
  align-items: center;

  h1 {
    color: var(--Black);
    flex: 1;
  }

  .formContainer {
    width: 300px;
  }

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: start;
    gap: 24px;

    .formContainer {
      width: 100%;
    }
  }
}
