.header {
  width: 100%;
  background-color: var(--White);
  padding: 13px 33px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px #00000033;

  @media (max-width: 760px) {
    margin: 0;
    border-radius: 0;
  }
}
